@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css");

body {
  padding: 20px;
  background: #f6f6f6;
}
p {
  margin: 0 0 1em 0;
}

.container {
  width: 600px;
}

.container input[type="number"] {
  text-align: center;
}

.container button {
  background-color: #4caf50 !important;
  border: none !important;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
