<div class="container">
    <div class="row">
        <div class="form-inline">
            <button type="button" class="btn btn-primary" id="btnUndo" disabled="disabled">Undo</button>
            <button type="button" class="btn btn-primary" id="btnRedo" disabled="disabled">Redo</button>
            <input type="number" value="{{bufferSize}}" min="0" max="10" class="form-control" id="ctrlLimit" placeholder="5" />
            <button type="button" class="btn btn-default" id="btnClear">Clear memory</button>
            <button type="button" class="btn btn-default pull-right" id="btnClearView">Clear View</button>
        </div>
        <div id="view-container">
        </div>
        <p class="comment mute">Click on the area to create circles</p>
    </div>
</div>